
*{
    box-sizing: border-box;
}
@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float:left;
        width: 33%;
        padding-right: 5px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
        box-sizing: border-box;
        float:left;
    }
    .col-md-6{
        width: 50%;
        padding-bottom: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .col-md-12{
        width: 100%;
        padding-right: 10px;

    }
}
@media (min-width: 0px) and (max-width: 767px) {
    .col-sm-12{
        height: 100%;
        width: 100%;
        padding-bottom: 10px;
    }
}
div .box{
    background-color: #999999;
    border: 3px solid black;
    overflow: hidden;

}
div .content{
    padding-bottom: 10px;
}
span{

    float: right;
    width: 30%;
    text-align: center;
    border: 3px solid black;
    border-top: none;
    border-right: none;
    padding-bottom: 10px;
}
p.content{
    padding-top: 40px;
}
p.title {
    text-align: center;
    border: 3px solid black;
    border-top: none;
    border-right: none;
    width: 100px;
    height: 40px;
    padding: 5px;
    float: right;
    /*margin-right: 36px;*/
    margin-top: 0px;
    font-weight: bold;
    position: relative;
}
box{
    float: right;
}
#p-chicken{
    background-color: #CC9B99;
}
#p-beef{
    background-color: #B34E48;
}
#p-sushi{
    background-color: #E5D29F;
}

